body,html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
  overflow: initial;
  position: relative;
  font-size: 62.5%;
}

#pageTop{
  position: fixed;
  top: 0;
  width: 100%;
  width: 100vw;
  z-index: 1;
  background-color: white;
}

#pageTitle{
  position: relative;
  height: 10%;
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #DDCBA6;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
}

#titleName{
  padding-top: 10px;
  word-wrap: normal;
  margin-left: 5%;
  margin-right: 5%;
}

#titleName h1{
  margin: 0;
  font-weight: 400;
}

#titleName h3{
  font-weight: normal;
}

#titleName h5{
  text-decoration: underline;
}

#titleEmail{
  justify-content: flex-end;
}

#titlePhone{
  padding-right: 8%;
}

.navigation{
  height: 5%;
  height: 5vh;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: center;
  background-color: #F2E5CB;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
}

.navBtn:hover{
  cursor: pointer;
}

.navBtn h5{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  letter-spacing: .5rem;
}

#mainContent{
  position: relative;
  top: 15%;
  z-index: 0;
  padding: 0;
  background-color: black
}

#bg1, #bg2, #bg3, #bg4{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

#bg1, #bg2, #bg3{
  border-bottom: 2px #8c7a56 solid;
}

#bg1{
  background-image: url('../img/img1.png');
  min-height: 85%;
  min-height: 85vh;
}

#bg2{
  background-image: url('../img/img2.png');
  background-position: 0px -80px;
  min-height: 85%;
  min-height: 85vh;
}

#bg3{
  background-image: url('../img/img3.png');
  min-height: 85%;
  min-height: 85vh;
}

#bg4{
  background-image: url('../img/img4.png');
  min-height: 85%;
  min-height: 85vh;
}

.bgText{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 8px;
}

.bgText .border{
  background-color: rgba(221, 203, 166, 0.5);
  box-shadow: inset 3px 3px 15px rgba(0,0,0,0.6);
  color: black;
  padding: 20px;
  border-radius: 200px;
}

.bgText .border:hover{
  background-color: rgba(221, 203, 166, 0.8);
  box-shadow: inset 3px 3px 30px rgba(0,0,0,0.8);
  cursor: pointer;
}

#lastText{
  top: 10%;
  font-size: 4rem;
}

#theForm{
  margin-top: 5%;
  width: 50%;
}

#theForm label{
  font-weight: 400;
}

#theForm input,#theForm textarea{
  border-radius: 10px;
}

.form-control{
  font-size: 1.8rem;
  opacity: .8;
}

#sendBtn{
  cursor: pointer;
  font-size: 2rem;
}

footer{
  position: fixed;
  bottom: 0;
  height: 5%;
  height: 5vh;
  background-color: #DDCBA6;
  border-top: 1px black solid;
  width: 100%;
  justify-content: flex-end;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
}

footer h5{
  letter-spacing: .2rem;
  padding-right: 5%;
  white-space: nowrap;
}

.verticalCenter{
  display: flex;
  align-items: center;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.modal{
  max-height: 90%;
  height: 90%;
}

.modal-content{
  display: block;
  max-height: 90%;
}

.modal-header{
  background-color: #DDCBA6;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
  border-bottom: 1px black solid;
  padding: 0;
  margin: 0;
}

#galleryTitle{
  font-weight: 400;
}

.modal-body{
  background-color: #F2E5CB;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
}

.modal img{
  align-self: center;
  max-height: 75vh;
  object-fit: contain;
  object-position: center;
}

#imgCarousel{
  height: 75vh;
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
}

.carousel-control-next-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
  background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.close{
  position: relative;
  cursor: pointer;
  z-index: 1;
  width: 4rem;
  top: 0px;
  right: 0px;
  font-size: 4rem;
  opacity: 1.0;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 75%;
   max-width:1200px;
  }
}



@media(max-width:1500px){
  #bg2{
    background-position: 0px 0px;
  }
  #theForm{
    width: 75%;
  }
  .form-control{
    font-size: 3rem;
  }

  #sendBtn{
    font-size: 3.3rem;
  }
}

@media(max-width: 930px){
  html,body{
    font-size: 45%;
  }
  #bg2{
    background-position: -50px 0px;
  }
}

@media(max-width: 800px){
  #bg2{
    background-position: -200px 0px;
  }
}

@media(max-width: 602px) {
  #titleEmail,#titlePhone{
    display:none;
  }
  footer{
    display: flex;
    flex-direction: column;
    height: 10%;
    height: 10vh;
  }
  footer h5{
    padding-right: 0;
  }
  #footerAddress{
    padding-bottom: 5px;
  }
  #footerEmail,#footerPhone{
    border-bottom: 0.5px black solid;
    visibility: visible !important;
  }
  #lastText{
    top: 20%;
  }
  #theForm{
    margin-top: 1%;
    width: 75%;
  }
  #theForm label{
    font-size: 2rem;
  }
  .bgText{
    font-size: 2rem;
    letter-spacing: 4px;
  }
  #bg1{
    background-image: url('../img/img1small.png');
  }

  #bg2{
    background-image: url('../img/img2small.png');
  }

  #bg3{
    background-image: url('../img/img3small.png');
  }

  #bg4{
    background-image: url('../img/img4small.png');
  }

  .form-control{
    font-size: 1.5rem;
  }

  #sendBtn{
    font-size: 1.7rem;
  }

  #galleryTitle{
    font-size: 2.5rem;
  }
}

@media(width: 1024px) AND (height: 1366px){
  #bg2{
    background-position: -200px 0px;
  }
}

@media(max-width: 602px) AND (min-height: 650px){
  footer{
    height: 7%;
  }
}

@media(max-width: 400px){
  #titleName h1{
    font-size: 3.5rem !important;
  }
  .bgText{
    font-size: 2rem;
    letter-spacing: 1px;
  }
  #galleryTitle{
    font-size: 2rem;
  }
}

@media(max-width: 360px){
  #titleName h1{
    font-size: 3rem !important;
  }
}

@media(max-height: 768px){
  #pageTitle{
    height: 15%;
    height: 15vh;
  }

  #lastText{
    font-size: 3rem;
  }
  #lastText label{
    font-size: 3rem;
  }
  .form-control{
    font-size: 2rem;
  }

  #sendBtn{
    font-size: 2.3rem;
  }
}
@media(max-height: 450px){
  #footerAddress{
    padding: 0;
  }

  #theForm{
    margin-top: 3px;
  }

  #theForm label{
    font-size: 2rem;
  }

  .form-group{
    margin: 0;
  }

  .form-control{
    font-size: 1.5rem;
  }

  #sendBtn{
    font-size: 1.7rem;
  }

}
@media(max-height: 375px){
  #titleName{
    padding-top: 20px;
  }
  .navigation{
    height: 8%;
    height: 8vh;
  }
  footer{
    flex-direction: row;
    justify-content: space-around;
  }
  #footerAddress{
    padding: 0;
  }
  #footerEmail,#footerPhone{
    border-bottom: 0;
  }

  #titleName h1{
    font-size: 2.5rem !important;
  }
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }
    #bg2{
      background-position: -100px 0px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

    #bg2{
      background-position: 0px 0px;
    }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bg1, #bg2, #bg3, #bg4{
      background-attachment: scroll;
    }

}
