body,html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x:hidden;
  overflow: initial;
  position: relative;
  font-size: 62.5%;
}

#pageTop{
  position: fixed;
  top: 0;
  width: 100%;
  width: 100vw;
  z-index: 1;
  background-color: white;
}

#pageTitle{
  position: relative;
  height: 10%;
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #DDCBA6;
}

#titleName{
  padding-top: 10px;
  word-wrap: normal;
  margin-left: 5%;
  margin-right: 5%;
}

#titleEmail{
  justify-content: flex-end;
}

#titlePhone{
  padding-right: 8%;
}

.navigation{
  height: 5%;
  height: 5vh;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: center;
  background-color: #F2E5CB;
}

.navBtn:hover{
  cursor: pointer;
}

.navBtn h5{
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  letter-spacing: .5rem;
}

#mainContent{
  position: relative;
  top: 15%;
  z-index: 0;
  padding: 0;
  background-color: black
}

#bg1, #bg2, #bg3, #bg4{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

#bg1{
  background-image: url('../img/img1.png');
  min-height: 85%;
  min-height: 85vh;
}

#bg2{
  background-image: url('../img/img2.png');
  background-position: 0px -80px;
  min-height: 85%;
  min-height: 85vh;
}

#bg3{
  background-image: url('../img/img3.png');
  height: 85%;
  height: 85vh;
}

#bg4{
  background-image: url('../img/img4.png');
  height: 85%;
  height: 85vh;
}

.bgText{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 8px;
}

.bgText .border{
  background-color: rgba(221, 203, 166, 0.5);
  color: black;
  padding: 20px;
  border-radius: 200px;
}

#lastText{
  top: 20%;
}

#theForm{
  margin-top: 5%;
  width: 50%;
}

footer{
  position: fixed;
  bottom: 0;
  height: 5%;
  height: 5vh;
  background-color: #DDCBA6;
  border-top: 1px black solid;
  width: 100%;
  justify-content: flex-end;
}

footer h5{
  letter-spacing: .2rem;
  padding-right: 5%;
  white-space: nowrap;
}

.verticalCenter{
  display: flex;
  align-items: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}


@media(max-width:1500px){
  #bg2{
    background-position: 0px 0px;
  }
}

@media(max-width: 930px){
  html,body{
    font-size: 45%;
  }
  #bg2{
    background-position: -50px 0px;
  }
}

@media(max-width: 800px){
  #bg2{
    background-position: -200px 0px;
  }
}

@media(max-width: 602px) {
  #titleEmail,#titlePhone{
    display:none;
  }
  footer{
    display: flex;
    flex-direction: column;
    height: 10%;
    height: 10vh;
  }
  footer h5{
    padding-right: 0;
  }
  #footerAddress{
    padding-bottom: 5px;
  }
  #footerEmail,#footerPhone{
    border-bottom: 0.5px black solid;
    visibility: visible !important;
  }
  #lastText{
    top: 20%;
  }
  #theForm{
    margin-top: 1%;
    width: 75%;
  }
  #theForm label{
    font-size: 2rem;
  }
  .bgText{
    font-size: 2rem;
    letter-spacing: 4px;
  }
}

@media(width: 1024px) AND (height: 1366px){
  #bg2{
    background-position: -200px 0px;
  }
}

@media(max-width: 602px) AND (min-height: 650px){
  footer{
    height: 7%;
  }
}

@media(max-width: 400px){
  .bgText{
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

@media(max-width: 360px){
  #titleName h1{
    font-size: 3rem;
  }
}


@media(max-height: 768px){
  #pageTitle{
    height: 15%;
    height: 15vh;
  }
}
@media(max-height: 450px){
  #footerAddress{
    padding: 0;
  }
}
@media(max-height: 375px){
  #titleName{
    padding-top: 20px;
  }
  .navigation{
    height: 8%;
    height: 8vh;
  }
  footer{
    flex-direction: row;
    justify-content: space-around;
  }
  #footerAddress{
    padding: 0;
  }
  #footerEmail,#footerPhone{
    border-bottom: 0;
  }
}
